<html>
<head>
    <title>Simple Perl / Dancer 2 Session authentication using YubiKey</title>
</head>

<body>

<div id="page">

    <div id="content">

        <div id="header">
            <h1>Simple Perl Session authentication using YubiKey</h1>
        </div>

        <div id="getting-started">
            <h2>This example code allows you to create an authenticated session based on a YubiKey.</h2>

            <p>This is an unprotected page. </p>

            <h3><a href="/">Login</a>

        <div>

    </div>

</div>

</body>
</html>
